@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

/* আপনার কাস্টম স্টাইলগুলো এখানে, @theme এর নিচে থাকবে */
body {
  background-color: #0f0f0f;
  color: #ffffff;
}

.carousel .slide {
    background: none !important;
    text-align: left !important;
}

.carousel .control-dots {
    display: none !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
