@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

/* আপনার কাস্টম স্টাইলগুলো এখানে, @theme এর নিচে থাকবে */
body {
  background-color: #0f0f0f;
  color: #ffffff;
}

.carousel .slide {
    background: none !important;
    text-align: left !important;
}

.carousel .control-dots {
    display: none !important;
}